version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "09:00"
      ignore:
        - dependency-name: "*"
          update-types:
            [version-update:semver-patch, "version-update:semver-major"]
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "09:00"
    ignore:
      - dependency-name: "*"
        update-types:
          [version-update:semver-patch, "version-update:semver-major"]
