/* @import url(./cursor.png); */

/* width */
* {
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  margin: 20px 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(153, 153, 153);
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(133, 133, 133);
}

body {
  margin: 0px;
}

.home-page {
  width: 100%;
  height: 100%;
  position: fixed;
  margin: auto;
  line-height: 2em;
  background-image: url("./bg.png");
  background-size: cover;
  background-attachment: fixed;
}

.home-page hr {
  display: none;
}

.home-page .card {
  width: 70vw;
  max-height: 75vh;
  border: 2px solid #e8e8e8;
  border-radius: 20px;
  margin: auto;
  margin-top: 5vh;
  background-color: rgba(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.7);
  overflow-y: scroll;
}

.home-page .card .header {
  position: relative;
  width: 100%;
  background-image: url("./banner.png");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  min-height: max-content;
}

.home-page .card .header .header-text {
  margin: 5vh auto;
  color: white;
  text-align: center;
  width: 100%;
}

.home-page .card .banner {
  width: 100%;
  max-height: 20vh;
  object-fit: cover;
}

.home-page .card .introduction {
  padding: 2rem;
}


.home-page .card h1 {
  margin: 0;
}

.home-page .cardp {
  width: 100%;
}


@media (max-width: 550px) {
  .home-page .card {
    width: 90vw;
    max-height: 90vh;
  }

  .home-page .card .header-text {
    max-width: 90vw;
    margin: 5vw 0;
    font-size: 0.8rem;
  }

  .home-page .card .introduction {
    padding: 10%;
    padding-top: 5%;
  }

  .home-page .card .introduction h4 {
    font-size: 1.2rem;
    margin-bottom: 0px;
  }

  .home-page .card .introduction p {
    margin-top: 0px;
  }

  .banner {
    height: 12vh;
  }
}

/* astral styling repeat */

.widget-title {
  padding: 10px;
  width: fit-content;
  margin: 25px 0px 0px 0px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  background: #444444;
  border: 0;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &.in-use {
    color: #000;
    background: #ffcb00;
  }

  .title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: "Poppins", sans-serif;

    .icon-state-wrap {
      display: flex;
      align-items: center;

      .state-dots-wrap {
        display: flex;
        flex-direction: column;
        padding: 2px;
        align-items: stretch;
        text-align: start;
      }
    }
  }

  .icon {
    background-color: #6c6c6c;
    border-radius: 50%;
    margin-right: 20px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    font-size: 35px;

    svg {
      width: 35px;
      height: 35px;
    }

    &.active-check {
      padding: 13px;
      margin-left: 20px;
      font-size: 12px;
      -webkit-text-stroke: 0.7px black;

      svg {
        width: 15px;
        height: 15px;
      }
    }

    &.active {
      background: #ffd73b;
      svg {
        filter: brightness(0);
      }
    }
  }
}