# Copyright 2023 (Unpublished) Verto Inc.

name: Check PR labels

on:
  pull_request:
   types: [opened, labeled, unlabeled]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: jesusvasquez333/verify-pr-label-action@v1.4.0
        with:
            github-token: '${{ secrets.GITHUB_TOKEN }}'
            valid-labels: 'major, minor, patch'
            invalid-labels: 'hold'
